<header>
    <div
        class="bg-image"
        style="
        background-image: url('/slike/naslovna_slika.jpg');
        background-size: cover;
        height: 200px;
    ">
        <div class="mask h-100" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center align-middle h-100 container p-3">
                <div class="text-white">
                    <h1>{{ .Site.Title }}</h1>
                    <h3>{{ .Site.Params.Subtitle }}</h3>
                </div>
            </div>
        </div>
        
        
    </div>
    <!-- Navigacijska vrstica -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <!-- TODO navbar-->
                        {{ $current := . }}
                        {{ range .Site.Menus.main }}
                        <a href="{{ .URL }}" class="nav-item nav-link {{ if eq $current.RelPermalink .URL }}active{{ end }}">{{ .Name }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </nav>
    </div> 
</header>

                    </div>
                </div>
            </div>
        </nav>
    </div> 
</header>