---
layout: default
---

{{ content }}

{% assign danes = "now" | date: "%s" %}
{% assign dogodki_po_solskih_letih =
    site.dogodki
    | samo_pretekli_dogodki
    | sort: "datum"
    | reverse
    | group_by_exp: "item", "item.datum | solsko_leto_polno" 
%}

<div class="accordion">
    {% for solsko_leto in dogodki_po_solskih_letih %}
        <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#y{{solsko_leto.name | remove: ' ' | remove: '/'}}" aria-controls="y{{solsko_leto.name | remove: ' ' | remove: '/'}}">
                <i class="bi bi-calendar-week me-2"></i> {{ solsko_leto.name }}
            </button>
        </h2>
        <div id="y{{solsko_leto.name | remove: ' ' | remove: '/'}}" class="accordion-collapse collapse">
            <div class="accordion-body">
                <ul class="list-group list-group-flush">
                    {% for dogodek in solsko_leto.items %}
                    <li class="list-group-item">
                        <span class="text-secondary me-2"><i class="bi bi-calendar-event me-2"></i> 
                            {{ dogodek.datum | date: '%-d. %-m. %Y' }}
                        </span>
                        <a href="{{ d.url }}">{{ dogodek.title }}</a>
                        <div><i class="bi bi-person me-2"></i> {{ dogodek.nosilec }}</div>
                        <div><i class="bi bi-geo-alt me-2"></i> {{ dogodek.kraj }}</div>
                        {% if dogodek.datoteke %}
                        <div>
                            <i class="bi bi-file-earmark-arrow-down me-2"></i>
                            Gradiva: <ul class="d-flex d-inline-flex list-unstyled ms-2">
                                {% for datoteka in dogodek.datoteke %}{% include datoteka_za_prenos.html %}{% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
