---
layout: default
---
<ul class="list-group list-group-flush">
<li class="list-group-item"><i class="bi bi-calendar-event me-2"></i> {% unless page.neznan_tocni_dan %}{{ page.datum | date: '%-d. %-m. %Y' }}{% else %}{{ page.datum | date: '%-m. %Y' }}{% endunless %}</li>
{% if page.nosilec %}<li class="list-group-item"><i class="bi bi-person me-2"></i> {{ page.nosilec }}</li>{% endif %}
{% if page.kraj %}<li class="list-group-item"><i class="bi bi-geo-alt me-2"></i> {{ page.kraj }}</li>{% endif %}
</ul>

{{ content }}

{% if page.datoteke %}<h4>Gradiva</h4>{% endif %}
<ul class="list-unstyled">
    {% for datoteka in page.datoteke %}
    {% include datoteka_za_prenos.html %}
    {% endfor %}
</ul>

<div class="row">
    {% for slika in page.slike %}
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="{{ slika }}"
        class="w-100 shadow-1-strong rounded mb-4"
      />
    </div>
    {% endfor %}
</div>